@page
@model SandboxSolution.Pages.Admin.Games.IndexModel
@{
}
<script src="~/js/games.js"></script>
<table class="table">
	<thead>
		<tr>
			<th>Game name</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>IsDeleted</th>
		</tr>	
	</thead>
	<tbody id="tbody">

	</tbody>
</table>
