@page
@model SandboxSolution.Pages.Admin.IndexModel
@{
}
<script src="~/js/admin.js"></script>
<div class="col-12 admin-container">
	<button onclick="onClickPublishers()">Publishers</button>
	<button onclick="onClickGames()">Games</button>
</div>
