ODataBuilder<br />
<div class="container">
	<div class="row">
		Filter:
		<div id="filters">
			<button class="btn btn-primary" onclick="onClickAddFilter()">+</button>
		</div>
	</div>
	<div class="row">
		OrderBy:
		<div id="orderby">
			<button class="btn btn-primary" onclick="onClickAddOrderBy()">+</button>
		</div>
	</div>
</div>